.codeforces{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
}
 .cf-title{
    /* color: #fff; */
    font-size: 4vw;
    align-self:flex-start;
    margin-left: 10vw;
}

.cf-workarea{
    padding: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cf-stats{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 30vh;
    width: 40vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px 10px 10px 10px;
}
.cf-stats:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.cf-image{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 30vh;
    width: 40vw;
    background-color: #FFF7E9;
    display: flex;
    border-radius: 10px 10px 10px 10px;
}
.cf-image:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.cf-logo{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.search{
    /* background-color: aqua; */
    height: 7vh;
    width: 70vw;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#handle-search{
    align-self: center;
    height: 80%;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
    transition: width 0.4s ease-in-out;
    align-items: center;
    text-align: center;
}
.search-btn{
    height: 80%;
    width: 10%;
    align-self: center;
    border-radius: 15px 15px 15px 15px;
    background-color: #FF731D;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 0px;
}
#search-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.clr a{
    text-decoration: none;
    color: black;
    background-color: blueviolet;
}

.clr{
    font-weight: 900;
    color: #fff;
}

.name-link{
    border-radius: 12px 12px 12px 12px;
    height: 20%;
    width: 50%;
    background-color: blueviolet;
    align-self: center;
}

.cf-text{
    color: #fff;
    align-self: center;
}

.hrule-cf{
    width: 45vw;
    align-self:flex-start;
    margin-left: 10vw;
}
#phone{
    display: none;
}

@media screen and (max-width:769px){
    .codeforces h1{
        /* color: #fff; */
        font-size: 5vh;
    }
    .hrule-cf{
        align-self: center;
        width: 90vw;
    }
    .cf-workarea{
        height: 70vh;
        padding: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .name-link{
        border-radius: 12px 12px 12px 12px;
        height: 20%;
        width: 50%;
        background-color: blueviolet;
        align-self: center;
    }

    .cf-stats{
        height: 30vh;
        width: 90vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 10px 10px 10px 10px;
    }

    .cf-image{
        margin-top: 5vh;
        height: 30vh;
        width: 90vw;
        background-color: white;
        display: flex;
        border-radius: 10px 10px 10px 10px;
    }
    #search-btn{
        height: 80%;
        width: 10%;
        align-self: center;
        border-radius: 15px 15px 15px 15px;
        display: none;
    }
    #phone{
        display: block;
        /* background-color: black; */
        height: 80%;
        margin-top: 25px;
        color: #FF731D;
        font-weight: 900;
        scale: 1.3;
    }
    #handle-search{
        align-self: center;
        height: 80%;
        width: 60%;
        border-radius: 15px 15px 15px 15px;
        transition: width 0.4s ease-in-out;
        align-items: center;
        text-align: center;
    }
}

/*codeforces dark*/
.codeforces-dark{
    background-color: #222526;
}
.cf-title-dark{
    color: #EDEDED;
}
.search-btn-dark{
    background-color: #ba4700;
    color: #EDEDED;
    font-weight: 500;
}
.cf-image-dark{
    background-color: #402900;
}