.new-skills{
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.skills-heading{
    font-size: 6vw;
    align-self: flex-start;
    margin-left: 10vw;
    margin-top: 4.5rem;
}

.mySkills{
    display: grid;
    height: 75vh;
    width: 70vw;
    /* background-color: pink; */
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    /* column-gap: 1rem; */
    align-content: space-evenly;
    justify-items: center;
    grid-column: 2/4;
    margin-right: -190px;
}
.skill-logo{
    height: 100px;
    width: 100px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
}
.skill-logo:hover{
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    transform: scale(1.2);
}
.hrule-newSkills{
    width: 23vw;
    align-self: flex-start;
    margin-left: 10vw;
}
@media screen and (max-width:769px){
    .mySkills{
        margin-top: 1rem;
        display: grid;
        height: 75vh;
        width: 90vw;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 0.6rem;
        align-content: space-evenly;
        justify-items: center;
        grid-column: 2/4;
        margin-right: 0px;
    }
    .skill-logo{
        height: 72px;
        width: 72px;
    }
    .new-skills h1{
        font-size: 5vh;
        padding-top: 10px;
        align-self: flex-start;
        margin-left: 10vw;
    }
    .hrule-newSkills{
        width: 44vw;
        align-self: flex-start;
        margin-left: 10vw;
    }
}

/*dark mode*/
.new-skills-dark{
    background-color: #222526;
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.skills-heading-dark{
    font-size: 6vw;
    align-self: flex-start;
    margin-left: 10vw;
    margin-top: 4.5rem;
    color: #EDEDED;
}