nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00ADB5;
    padding: 20px 80px;
    position: -webkit-sticky;
	position: sticky;
    top: -5px;
	z-index: 2;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -55px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    transition: 0.3s ease-in-out;
    color: #fff;
}

#navbar li a:hover,
#navbar li a.active{
    color: #393E46;
}

#navbar li a:hover::after,

#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #393E46;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile{
    display: none;
}

#mobile i{
    color: #fff;
}
.logo{
    margin-left: -40px;
}

@media screen and (max-width:769px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 60px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #00adb5;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }
    #navbar.active{
        right: 0px;
    }
    #mobile{
        display: block;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile i{
        font-size: 24px;
        cursor: pointer;
        margin-right: -50px;
    }
    .logo{
        margin-left: -50px;
    }
}
