.projects{
    padding-top: 10vh;
    min-height: 100vh;
    width: 100%;
    background-color: #FF6464;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-heading{
    font-size: 5vw;
    align-self:flex-start;
    margin-left: 10vw;
}

.project-space{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    align-items: center;
    justify-content: space-evenly;
}

.proj-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 50vh;
    width: 27vw;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    background-color: #F6F6F6;
}

.proj-card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6);
    transform: scale(1.05);
  }

.proj-img{
    height: 70%;
    width: 100%;
    
}

.hrule-proj{
    width: 30vw;
    align-self:flex-start;
    margin-left: 10vw;
}
.proj-pics{
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}
.proj-description{
    margin-top: 10px;
    font-weight: 600;
}
.proj-btn{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    height: 30px;
    width: 70px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: #FF731D;
    font-weight: 500;
    border: 0px;
}
.proj-btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.phone-btn{
    display: none;
}
@media screen and (max-width:769px){
    .projects{
        min-height: 100vh;
        width: 100%;
        background-color: #FF6464;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-space{
        height: 100vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        align-items: center;
        justify-content: space-evenly;
    }
    .proj-card{
        height: 22vh;
        width: 70vw;
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
    }
    
    .proj-img{
        height: 60%;
        width: 100%;
        /* background-color: aquamarine; */
    }
    .proj-pics{
        /* height: 100%;
        width: 100%; */
        border-radius: 15px 15px 15px 15px;
    }
    .proj-btn{
        display: none;
    }
    .phone-btn{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    height: 25px;
    width: 55px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: #FF731D;
    font-weight: 500;
    border: 0px;
    }
    .projects h1{
        /* color: #fff; */
        font-size: 11vw;
        align-self:flex-start;
        margin-left: 10vw;
    }
    .hrule-proj{
        width: 65vw;
        align-self: flex-start;
        margin-left: 10vw;
    }
}

/*dark mode*/
.projects-dark{
    background-color: #413F42;
}

.proj-card-dark{
    background-color: #1e2021;
    color: #ededed;
}
.proj-btn-dark{
    background-color: #ba4700;
    color: #ededed;
}
.proj-heading-dark{
    color: #ededed;
}